.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0px; 
	background-color: #333; 
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #444; 
 }
 
 .navbar-logo img {
	width: 50px;
	height: auto;
 }
 
 .navbar-links {
	display: flex;
	gap: 20px;
	justify-content: flex-end; 
	width: auto; 
	margin-right: 20px; 
 }
 
 .navbar-links button {
	background: none;
	border: none;
	color: white;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 15px;
	transition: all 0.3s ease;
	border-radius: 5px;
 }
 
 .navbar-links button:hover {
	background-color: #444; 
	color: #61dafb; 
	transform: scale(1.05);
 }
 
 .hamburger {
	display: none;
	font-size: 2rem;
	cursor: pointer;
	color: white;
 }
 
 @media (max-width: 768px) {
	.hamburger {
	  display: block;
	  z-index: 999;
	}
 
	.navbar {
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	}
 
	.navbar-links {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 60px;
	  right: 0;
	  background: #333;
	  width: 250px;
	  padding: 10px;
	  border-radius: 5px;
	  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	}
 
	.navbar-links.active {
	  display: flex;
	}
 
	.navbar-links button {
	  padding: 12px;
	  width: 100%;
	  background: none;
	  border: none;
	  color: white;
	  font-size: 1.2rem;
	  cursor: pointer;
	  text-align: left;
	}
 
	.navbar-links button:hover {
	  background: #444;
	}
 }
 