.MuiDataGrid-root {
	width: 90%; 
	overflow-x: auto;
}
.MuiBox-root {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.button-container {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	.button-container {
		flex-direction: column;
		align-items: center;
	}

	.MuiButton-root {
		width: 90%;
		font-size: 14px;
		padding: 8px;
	}
}

@media screen and (max-width: 400px) {
	.MuiTypography-root {
		font-size: 12px;
	}

	.MuiButton-root {
		font-size: 12px;
		padding: 6px 10px;
	}
}